<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #player{
        background-color: rgb(48, 58, 52);
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height:100vh
    }
    .playerPic{
        margin-top: 10vh;
        text-align: center;
    }
    .playerPic>img{
        border-radius: 50%;
        width: 15rem;
        height:15rem;
    }
    </style>
</head>
<body>
    <div id="player">
        <div class="playerPic">
            <img src="http://p1.music.126.net/MxFI9ettUo74-w4dgTxZHg==/109951165509328249.jpg" alt="">
        </div>
    </div>
    
</body>
</html>