<template>
  <div>
    <div class="jd_layout">
      <div class="jd_banner">
        <ul class="jd_bannerimg clearfix">
          <li>
            <a href="javascript:;">
              <img src="https://y.gtimg.cn/music/common/upload/MUSIC_FOCUS/3285715.jpg" alt="" />
            </a>
          </li>
        </ul>
        <!-- 点标记 -->
        <ul class="jd_bannerIndicator clearfix">
          <li></li>
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import "base/slider/slider.css";
import "base/slider/slider.js";
export default {

};
</script>

